body, html
{
    font-family: Arial;
    font-size: 12px;
    color: #333;
    background: #fff;
}
body
{
	padding-top:55px;
	}
#photoUpload1
{
    width: 70%;
}
.divider1
{
    height: 2px;
    border-bottom: #ccc 1px dashed;
    margin: 10px 0;
}
.divider2
{
    height: 2px;
    margin: 10px 0;
}
.photo
{
    float: right;
    height: 40px;
    width: 40px;
}
.photo img
{
    height: 37px;
    width: 37px;
    background: #fff;
    border: #ccc 1px solid;
    padding: 2px;
}

h2 .close
{
	float:right;
	
	text-decoration:none;
	font-size:20px;
	color:Red;
	width:24px;
	height:24px;
}
h2 .close a
{
	
	font-weight:normal;
	text-decoration:none;
	font-size:25px;
	color:Red;
	width:24px;
	height:24px;
	display:block;
	background:url(../images/close.png) 0 0 no-repeat;
}

.must
{
    font-size: 13px;
    font-weight: bold;
    color: Red;
}
/* Reports page */

.table1 td
        {
            border: #ccc 1px dotted;
            padding: 0px 4px;
            white-space: nowrap;
        }
        .table1 th, .table1 tr:first-child td
        {
            padding: 2px 4px;
            vertical-align: middle;
            background: #ccc;
            text-align: center;
        }
        .table1
        {
            font-size: 10px;
        }
        .table1 tr:first-child
        {
            font-weight: bold;
        }
        .table1
        {
            border: #999 1px solid;
            border-collapse: collapse;
        }
        .table1 td span
        {
            white-space: nowrap;
        }
        .table2 td
        {
            border: #ccc 1px dotted;
            padding: 2px 4px;
            white-space: nowrap;
        }
        .table2 th, .table2 tr:first-child td
        {
            padding: 2px 4px;
            vertical-align: middle;
            background: #ccc;
            text-align: center;
        }
        .table2
        {
            font-size: 13px;
        }
        .table2 tr:first-child td
        {
            /* border:#888 2px solid;*/
            font-weight: bold;
            font-size: 13px;
        }
        .table2
        {
            border: #999 1px solid;
            border-collapse: collapse;
            width: 64%;
            margin-top: 2%;
            margin-left: 10px;
            margin-right: 25%;
            padding-left: 99px;
        }
        .table2 td span
        {
            white-space: nowrap;
            font-size: 14px;
        }
        .col1
        {
            background: #F7F7F7;
        }
        .bL, th.bL, td.bL
        {
            border-left: #888 2px solid;
        }
        .bT, th.bT, td.bT
        {
            border-top: #888 2px solid;
        }
        .bR, th.bR, td.bR
        {
            border-right: #888 2px solid;
        }
        .bB, th.bB, td.bB
        {
            border-bottom: #888 2px solid;
        }
        /* Popup */.popupHolder
        {
            background: url(../images/popupBack.png) repeat;
        }

/* --------------------- */

.table1 td
{
    border: #ccc 1px dotted;
    padding: 0px 4px;
    white-space: nowrap;
}
.table1 th, .table1 tr:first-child td
{
    padding: 2px 4px;
    vertical-align: middle;
    background: #ccc;
    text-align: center;
}
.table1
{
    font-size: 10px;
    width: 80%;
    margin-left: 10px;
}
.table1 tr:first-child
{
    font-weight: bold;
}
.table1
{
    border: #999 1px solid;
    padding-top: 2%;
    padding-left: 20px;
    border-collapse: collapse;
}
.table1 td span
{
    white-space: nowrap;
}
/* Popup */.popupHolder
{
    background: url(../images/popupBack.png) repeat;
}
.popupHolder2{ background: url(../images/popupBack.png) repeat; z-index:100002;  }

.popContent
{
    border: #ccc 1px solid;
    background: #fff;
    margin: 0 auto;
    width: auto;
    position: relative;
    z-index: 1001;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
}
.popContent h2
{
    padding: 12px;
    color: #232323;
    background: #fff;
    font-size: 15px;
    border-bottom: #666 1px solid;
    text-align: left;
    padding-top: 0;
    font-family: "Century Gothic";
}
.popContent .userThumb
{
    width: 120px;
    height: auto;
    border: #ccc 1px dashed;
    padding: 2px;
    background: #fff;
}
.popContent h2 span
{
    color: #ff6600;
    font-family: "Century Gothic";
    font-size: 15px;
}
/* css for timepicker */.ui-timepicker-div .ui-widget-header
{
    margin-bottom: 8px;
}
.ui-timepicker-div dl
{
    text-align: left;
}
.ui-timepicker-div dl dt
{
    float: left;
    clear: left;
    padding: 0 0 0 5px;
}
.ui-timepicker-div dl dd
{
    margin: 0 10px 10px 45%;
}
.ui-timepicker-div td
{
    font-size: 90%;
}
.ui-tpicker-grid-label
{
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}
.ui-timepicker-rtl
{
    direction: rtl;
}
.ui-timepicker-rtl dl
{
    text-align: right;
    padding: 0 5px 0 0;
}
.ui-timepicker-rtl dl dt
{
    float: right;
    clear: right;
}
.ui-timepicker-rtl dl dd
{
    margin: 0 45% 10px 10px;
}
.w997
{
    margin-left: 892px;
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
}

.w996
{
    margin-left: 746px;
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
}


.headder{ width:100%; height:60px;
	overflow:hidden;
	background:#eee;
	border-bottom:#ccc 1px solid;
	position:fixed;
	left:0;
	top:0;
	z-index:10;          
}
.headder .left
{
	text-align:left;
	float:left;
	display:inline-block;
	font-size:20px; font-weight:bold;
	color:#333;
	margin-left:15px;
	margin-top:20px;
	text-transform:capitalize;
	}
.headder .left span{ font-weight:normal;                            
font-size:12px;
color:#888;
}
.headder .left div{ display:inline-block; }

.headder .right
{
	float:right;
	text-align:right;
	font-size:12px;
	display:inline-block;
	margin-right:0;	
	color:#eee;
}
.headder{ font-size:15px; width:100%; height:50px; border-bottom:#fff 1px solid; background:#383838; text-align:lef; box-shadow:0 0 5px rgba(0,0,0,0.6) }
.logo{ font-size:24px; text-decoration:none; font-family:"Century Gothic"; color:#ccc; display:inline-block; margin:15px 0 0 12px;  }
.logo span{ color:#FF9900; font-weight:bold; font-size:22px; font-family:"Century Gothic"; }
h2{ font-size:18px; font-weight:normal; font-family:"Century Gothic"; text-transform:uppercase;color:#fff; text-align:center;  padding:10px 0; background:#CCC; 
	border-radius:3px 3px 0 0;
}
.popContent h2 div{ display:inline-block; }
.popContent h2 span.right{ 
color: #444;
font-size: 13px; margin-left:10px; }

.headder .right .wel{ margin:0; float:right; clear:both; color:#eee;}
.headder .right .wel a{ text-decoration:none; }
.headder .right .menu{ list-style:none;
	margin:0; float:right; clear:both; padding:0
}
.headder .right .menu li
{
	float:right; margin:0 0 0 15px;
}
.headder{ overflow:visible; }

.headder .right .menu li a{ padding:0 0 4px 0; color:#888; border-bottom:#eee 2px solid;  display:block; text-decoration:none; font-size:13px; font-weight:bold; text-align:center; }	
.headder .right .menu li a:hover{ color:#666; }
.headder .right .menu li.active a{ color:#000; border-bottom:#222 2px solid; }
.topPic{ width:49px; height:auto; border:none; margin-left:6px;}
.menu2{ margin:0 25px 0 0; list-style:none; float:right; }
.menu2 li{ width:auto; position:relative; z-index:20; height:28px;  }
.menu2 li a{ text-decoration:none; color:#fff; display:block; font-weight:bold; padding:2px 0 0 0 ; }
.menu2 li ul{ display:none; position:absolute; z-index:21; left:0; top:25px; background:#444; box-shadow:3px 3px 3px rgba(0,0,0,0.2);
              margin:0; padding:0;
}
.menu2 li li{ margin:0; padding:0 }
.menu2 li li a{ font-size:12px; width:134px; color:#55B355; text-align:left; padding:4px 10px; text-decoration:none; font-weight:normal; }
.menu2 li li a:hover{ background:#222; color:#61FF61; }
.menu2 li:hover ul{ display:block; }
.clear.h51{ margin-bottom:2px; }
.menu2 li a span.pic{ display:inline-block; margin-left:1px; /* margin-top: 20px; */ width: 9px; height: 7px; background: url(images/ui-icons_888888_256x240.png) -68px -21px no-repeat; /* border: #ccc 1px solid; */ position: absolute; top: 8px; /* right: 0; */}

h2.pageHeadding, .headding2{ padding:0; margin:0 0 10px 0;  width: 100%;
            background: none;           
            text-align: center;
            color: #333; font-family:"Century Gothic" }
.headding2{ text-align:left; font-size:12px; font-weight:normal;  }
.tdBack{ /*background:#CCC;*/ font-size:11px; font-weight:bold; }

#grdAttandence tr:last-child{ font-size:11px;  }

.inner{ margin:10px; display:block; }
.scrollBlock{ height:415px; overflow-x:hidden; overflow-y:scroll; }
.ppHed{ background:#ccc; padding:7px 10px; margin:2px 0; border-bottom:#999 1px solid; }
.ppHed.acc{ cursor:pointer; }
.ppHed.acc span.pls{ float:right; text-align:right; font-size:18px; font-weight:normal; color:#666; display:inline-block; }
.ppHedContent{ margin-bottom:20px; padding:10px 0; }

.popupFieldSet
{
	margin:0 15px 0 0;
	padding:10px;
	border:#ccc 1px dashed;
	}
.popupFieldSet legend{ font-size:12px; font-weight:bold; display: inline-block; width: auto; border: none; margin: 0; padding: 4px 10px; height: 20px; line-height: 20px; background: #fff; box-shadow: 0 0 6px rgba(0,0,0,0.2);}
.detImg{ width:120px; height:120px; padding:3px; border:#ccc 1px dotted; }
.actions{ float:right; display:inline-block; text-align:right; position:relative; top:-6px; right:-9px; }

.Agent1{ margin: 0;  font-size:10px; }
.Agent1 .Agent1Info{ width:550px; border-collapse:collapse; }
.Agent1 .Agent1Info td{ padding:1px 3px; width:120px; word-break: break-all; border:#ddd 1px solid; }
.Agent1 th{ text-align:left;  border:#ddd 1px solid; background:#eee; padding:1px 3px; }
.Agent1 h4{ margin:0; padding:0 }


.tDate{ float:right; display:inline-block; text-align:right; font-size:14px; color:#999;  margin:2px 12px 0 ; position: relative; right: -30px; /* margin-right: -20px; */ line-height: 13px;}
.cDate{ display:block; text-align:right; font-family:Arial, Helvetica, sans-serif; color:#eee }
.cTime b, .cTime strong{  font-family: 'Aldrich', sans-serif; font-size:16px; color: #62BAFF; text-shadow: 0 0 7px rgba(0, 204, 255, 0.5); }
.cTime a{ text-decoration:none; display:inline-block; margin-left:10px; }
.btn.btn-inverse.btn-small{ background:none; box-shadow:none; border:none; color:blue; text-shadow:none; font-size:15px; line-height:22px; outline:none;}


/*Loading spinner*/
#spinner
{
	background: url(../images/content-back.png);
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 22%;
	position: fixed;
	z-index: 190000;
	left: 0;
	top: 0;
}
.head100
{
	font-weight: bold;
	border-left: none;
	text-transform: uppercase;
	text-align: center;
	background: #B8BE41;
}
#spinner h4
{
	border: 4px solid rgba(0,0,0,0.5);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0 0 18px rgba(0,0,0,0.9);
	-moz-box-shadow: 0 0 18px rgba(0,0,0,0.9);
	box-shadow: 0 0 18px rgba(0,0,0,0.9);
	width: 380px;
	overflow: hidden;
	margin: 0 auto;
	font-size: 20px;
	color: #333;
	background: #fff;
}
#spinner div
{
	width: 270px;
	height: 100%;
	padding: 15px;
	margin: 0 auto;
	background: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 19px;
}
#spinner img
{
	margin-left: 10px;
	margin-top: 1px;
}

.pageHeadding div{ font-size:18px; font-weight:normal; font-family:"Century Gothic" }
.pageHeadding div #lblWeekReport{ font-size:12px; }

#lblFreeze{ color:#FFA634; font-weight:bold; display:inline-block; position:relative; top:3px; }

.greenTag, td.greenTag, .table1 td.greenTag, 
.table2 td.greenTag, 
.table3 td.greenTag{ background: url(../images/editBlock.png) -17px -17px no-repeat;}
.inOut{ display: inline-block; color: #AAA; font-size: 10px; background: #444;
                padding: 0px 8px; margin: 0 14px 0 0;}
 .inOut span{font-size: 10px; color:#54D654; /* #55B355;*/  display: inline-bolck; }
 
 
 .bold1 td span{ font-weight:bold; }
 .bold1 td a{ color:#333; text-decoration:none; cursor:default; } 
 
 
  
 
 
.rptChanges
{
	margin-left:10px;
}


.table1 td,.table1 th
{
white-space: nowrap
}

/* Multiple Login     #FFDB99*/
a.multipleLogin, .multipleLogin
{
	text-decoration: none;
	background: url(../images/category.png) no-repeat right top;
	background-size: 11%;
	padding-right: 16px;
}


