/* 
========================
  GRIDINATOR CSS v0.4.1
  http://gridinator.com/
  
  GRIDINATOR CSS is a very basic framework to create
  grid-based layouts. The content of this file is 
  provided as-is, without support.
  
  If you would like to contact GRIDINATOR to suggest
  improvements, to ask for help or to file a bug report, 
  please feel free to email: gridinator@steff.me
  
  Your grid settings:
  	columns: 37
  	column width: 60px
  	column margin: 1px
  	container margin: 1px
    
=========================
*/
* { /* quick reset */
	margin: 0;	
}

body { 
	font-size: 14px;
	margin: 0;
	padding: 0;
	text-align: center;
}


.wrapper {
	margin: 0 auto; /* This centers the grid. Remove this line to place the grid on the left of the page. */
	text-align: left;
	width: 2258px;
}

.inner-wrapper {
	background: url(gridinator.png) repeat-y 0 0; /* The file gridinator.png is a grid background; delete this line to remove it. If you did not generate a background image, you can still do so by going to http://gridinator.com/ and entering the details found at the top of this CSS file. You will then be given a grid image to match your original grid.  */
	clear: both;
	display: inline;/* IE double margin fix. Feel free to move this to your IE specific stylesheets. */
	float: left;
	padding: 0 1px 0 1px;
	position: relative;
	width: 2256px;
}




.container {
	clear: both;
	float: left;
	margin: 0;
	width: 100%;	
}
.one-col, .two-col, .three-col, .four-col, .five-col, .six-col, .seven-col, .eight-col, .nine-col, .ten-col, .eleven-col, .twelve-col, .thirteen-col, .fourteen-col, .fifteen-col, .sixteen-col, .seventeen-col, .eighteen-col, .nineteen-col, .twenty-col, .twenty-one-col, .twenty-two-col, .twenty-three-col, .twenty-four-col, .twenty-five-col, .twenty-six-col, .twenty-seven-col, .twenty-eight-col, .twenty-nine-col, .thirty-col, .thirty-one-col, .thirty-two-col, .thirty-three-col, .thirty-four-col, .thirty-five-col, .thirty-six-col, .thirty-seven-col {
	clear: none;
	display: inline;/* IE double margin fix. Feel free to move this to your IE specific stylesheets. */
	float: left;
	margin: 0 1px 0 0;
	padding: 0;
	position: relative;
	background: #9fcdf6; /* Delete this line to remove the blue colour on columns. */
}
.one-col {
	width: 60px;
}

.two-col {
	width: 121px;
}

.three-col {
	width: 182px;
}

.four-col {
	width: 243px;
}

.five-col {
	width: 304px;
}

.six-col {
	width: 365px;
}

.seven-col {
	width: 426px;
}

.eight-col {
	width: 487px;
}

.nine-col {
	width: 548px;
}

.ten-col {
	width: 609px;
}

.eleven-col {
	width: 670px;
}

.twelve-col {
	width: 731px;
}

.thirteen-col {
	width: 792px;
}

.fourteen-col {
	width: 853px;
}

.fifteen-col {
	width: 914px;
}

.sixteen-col {
	width: 975px;
}

.seventeen-col {
	width: 1036px;
}

.eighteen-col {
	width: 1097px;
}

.nineteen-col {
	width: 1158px;
}

.twenty-col {
	width: 1219px;
}

.twenty-one-col {
	width: 1280px;
}

.twenty-two-col {
	width: 1341px;
}

.twenty-three-col {
	width: 1402px;
}

.twenty-four-col {
	width: 1463px;
}

.twenty-five-col {
	width: 1524px;
}

.twenty-six-col {
	width: 1585px;
}

.twenty-seven-col {
	width: 1646px;
}

.twenty-eight-col {
	width: 1707px;
}

.twenty-nine-col {
	width: 1768px;
}

.thirty-col {
	width: 1829px;
}

.thirty-one-col {
	width: 1890px;
}

.thirty-two-col {
	width: 1951px;
}

.thirty-three-col {
	width: 2012px;
}

.thirty-four-col {
	width: 2073px;
}

.thirty-five-col {
	width: 2134px;
}

.thirty-six-col {
	width: 2195px;
}

.thirty-seven-col {
	width: 2256px;
	margin-right: 0;
}

.prefix-one {
	margin-left: 61px;
}

.prefix-two {
	margin-left: 122px;
}

.prefix-three {
	margin-left: 183px;
}

.prefix-four {
	margin-left: 244px;
}

.prefix-five {
	margin-left: 305px;
}

.prefix-six {
	margin-left: 366px;
}

.prefix-seven {
	margin-left: 427px;
}

.prefix-eight {
	margin-left: 488px;
}

.prefix-nine {
	margin-left: 549px;
}

.prefix-ten {
	margin-left: 610px;
}

.prefix-eleven {
	margin-left: 671px;
}

.prefix-twelve {
	margin-left: 732px;
}

.prefix-thirteen {
	margin-left: 793px;
}

.prefix-fourteen {
	margin-left: 854px;
}

.prefix-fifteen {
	margin-left: 915px;
}

.prefix-sixteen {
	margin-left: 976px;
}

.prefix-seventeen {
	margin-left: 1037px;
}

.prefix-eighteen {
	margin-left: 1098px;
}

.prefix-nineteen {
	margin-left: 1159px;
}

.prefix-twenty {
	margin-left: 1220px;
}

.prefix-twenty-one {
	margin-left: 1281px;
}

.prefix-twenty-two {
	margin-left: 1342px;
}

.prefix-twenty-three {
	margin-left: 1403px;
}

.prefix-twenty-four {
	margin-left: 1464px;
}

.prefix-twenty-five {
	margin-left: 1525px;
}

.prefix-twenty-six {
	margin-left: 1586px;
}

.prefix-twenty-seven {
	margin-left: 1647px;
}

.prefix-twenty-eight {
	margin-left: 1708px;
}

.prefix-twenty-nine {
	margin-left: 1769px;
}

.prefix-thirty {
	margin-left: 1830px;
}

.prefix-thirty-one {
	margin-left: 1891px;
}

.prefix-thirty-two {
	margin-left: 1952px;
}

.prefix-thirty-three {
	margin-left: 2013px;
}

.prefix-thirty-four {
	margin-left: 2074px;
}

.prefix-thirty-five {
	margin-left: 2135px;
}

.prefix-thirty-six {
	margin-left: 2196px;
}

.suffix-one {
	margin-right: 62px;
}

.suffix-two {
	margin-right: 123px;
}

.suffix-three {
	margin-right: 184px;
}

.suffix-four {
	margin-right: 245px;
}

.suffix-five {
	margin-right: 306px;
}

.suffix-six {
	margin-right: 367px;
}

.suffix-seven {
	margin-right: 428px;
}

.suffix-eight {
	margin-right: 489px;
}

.suffix-nine {
	margin-right: 550px;
}

.suffix-ten {
	margin-right: 611px;
}

.suffix-eleven {
	margin-right: 672px;
}

.suffix-twelve {
	margin-right: 733px;
}

.suffix-thirteen {
	margin-right: 794px;
}

.suffix-fourteen {
	margin-right: 855px;
}

.suffix-fifteen {
	margin-right: 916px;
}

.suffix-sixteen {
	margin-right: 977px;
}

.suffix-seventeen {
	margin-right: 1038px;
}

.suffix-eighteen {
	margin-right: 1099px;
}

.suffix-nineteen {
	margin-right: 1160px;
}

.suffix-twenty {
	margin-right: 1221px;
}

.suffix-twenty-one {
	margin-right: 1282px;
}

.suffix-twenty-two {
	margin-right: 1343px;
}

.suffix-twenty-three {
	margin-right: 1404px;
}

.suffix-twenty-four {
	margin-right: 1465px;
}

.suffix-twenty-five {
	margin-right: 1526px;
}

.suffix-twenty-six {
	margin-right: 1587px;
}

.suffix-twenty-seven {
	margin-right: 1648px;
}

.suffix-twenty-eight {
	margin-right: 1709px;
}

.suffix-twenty-nine {
	margin-right: 1770px;
}

.suffix-thirty {
	margin-right: 1831px;
}

.suffix-thirty-one {
	margin-right: 1892px;
}

.suffix-thirty-two {
	margin-right: 1953px;
}

.suffix-thirty-three {
	margin-right: 2014px;
}

.suffix-thirty-four {
	margin-right: 2075px;
}

.suffix-thirty-five {
	margin-right: 2136px;
}

.suffix-thirty-six {
	margin-right: 2197px;
}

.clear { /* Useful generic clearing class. */
	clear: both;
}
.last-col {
	margin-right: 0;
}
