html, body{ padding:0; margin:0; font-size:12px; color:#333; line-height:17px; font-family:Arial,Liberation Sans,DejaVu Sans,sans-serif; background:#e1e1e1; width:100%; min-height:100%; height:100%; }
.body{ min-width:700px; }
.headder{ font-size:15px; width:100%; height:50px; border-bottom:#fff 1px solid; background:#383838; text-align:lef; box-shadow:0 0 5px rgba(0,0,0,0.6) }
.logo{ font-size:24px; text-decoration:none; font-family:"Century Gothic"; color:#ccc; display:inline-block; margin:15px 0 0 12px;  }
.logo span{ color:#FF9900; font-weight:bold; font-size:22px; font-family:"Century Gothic"; }
.tDate{ float:right; display:inline-block; text-align:right; font-size:14px; color:#999;  margin:2px 12px 0 ; }
.cDate{ display:block; text-align:right; font-family:Arial, Helvetica, sans-serif; color:#eee }
.cTime b, .cTime strong{  font-family: 'Aldrich', sans-serif; font-size:16px; color: #62BAFF; text-shadow: 0 0 7px rgba(0, 204, 255, 0.5); }
.cTime a{ text-decoration:none; display:inline-block; margin-left:10px; }


.inner{ margin:10px; display:block; }
h2{ font-size:18px; font-weight:normal; font-family:"Century Gothic"; text-transform:uppercase;color:#fff; text-align:center; margin:0 0 10px 0; padding:10px 0; background:#CCC; 
	border-radius:3px 3px 0 0;
 
}
.w60p.bor{ box-shadow:0 0 3px rgba(0,0,0,0.3);  }
.bor{ box-shadow:0 0 3px rgba(0,0,0,0.3); }

.boxC1{ background:#EFF9FF; }
.boxC2 { background:#EFD }
.boxC3 { background:#FFF2E4 }

.boxC1, .boxC2, .boxC3 { height:98%; min-height:98%; display:table; width:96%  }

.users{ display:block; position:relative; min-height:100%; list-style:none; margin:0; padding:0; }
.users .user{ background:#fff; border:#ccc 3px solid; width:70px; height:70px; float:left; margin:3px; position:relative; z-index:10; cursor:pointer; }
.users .user:active{ cursor:Move; position:relative; z-index:40 }
.users .user img{ position:relative; z-index:11; width:100%; height:auto; }
.users .user .strip{ background:url(../images/popupBack.png) repeat ; color:#fff; text-align:center; font-size:9px; padding:3px 5px; position:absolute; z-index:12; bottom:0; left:0; width:60px; word-break: break-all; line-height:11px; /*display:none;*/ height: 9px;
overflow: hidden; }

.users .user.lateTime{ border:red 3px solid; box-shadow:inset 0 0 6px red; }
.users .user.lateTime img{ box-shadow:inset 0 0 6px red; }

.wrapper { display: table; min-height:100%; height:100%; width:100%; min-width:100%; }
.wrapper .name { display: table-cell; vertical-align: middle; text-align:center; word-break: break-word; font-size:11px; color:#666; font-weight:bold; background:#F1F1F1; }



/* Popup */
.popupHolder{  background:url(../images/popupBack.png) repeat;  }
 .popContent{ border:#ccc 1px solid; background:#fff; margin:0 auto; width:auto; position:relative; z-index:1001; box-shadow:0 0 6px rgba(0,0,0,0.3)}
.popContent h2{ padding:12px; color:#232323; background:#fff; font-size:15px; border-bottom:#666 1px solid; text-align:left; }
.popContent .userThumb{ width:120px; height:auto; border:#ccc 1px dashed; padding:2px; background:#fff; }
 .popContent h2 span{ color:#ff6600; }
.loginForm{ border-collapse:collapse; padding:0; margin:0 0 0 10px; width:100%; }
.loginForm textarea{ width:93%; }
.loginForm td{ padding-bottom:10px; }
.popContent i{ font-size:11px; color:#999; }
.must{ font-size:14px; color:Red; font-weight:bold; }
.activeDiv, .bor.activeDiv { z-index:30; position:relative;  box-shadow:0 0 10px #000}
.popContent.error1{ box-shadow:0 0 15px red; borderred 1px solid; background:#FFE5D8; }
.dummyPopup{ width:100%; height:100%; min-height:100%; background:url(../images/popupBack.png) repeat; position:fixed; left:0; top:0; z-index:30; display:none; }

.totalHolder{ width:100%; height:98%; min-height:98%; border-collapse:collapse; }
.totalHolder td{ min-width:200px }
.totalHolder .inner{ display:table; min-height:90%; height:90%; width:90%; min-width:90%;  }
.totalHolder ul{ height:100%; min-height:100%; width:100%; min-width:100%; display:table-cell; }
.h100p{ height:100%; min-height:100%; margin:0; padding:0; }


.one span, .two span, .three span{ font-weight:normal; color:#666; }


.ui-tooltip, .arrow:after {
      background: #FFFCB6;
  }
  .ui-tooltip {
      padding: 10px 20px;
      color: white;
      border-radius: 3px;
      font: bold 14px"Helvetica Neue", Sans-Serif;
      text-transform: uppercase;
      box-shadow: 0 0 7px black;
  }
.ui-widget-content {
    border: 1px solid #E0C743;
    background: #FFFCB6;
    color: #222;
    text-transform:capitalize;
    box-shadow: 0 0 8px #000;
}
.ui-widget-content b{text-transform:uppercase; font-size:14px;}
.ui-widget-content span{ display:inline-block; min-width:60px; font-weight:bold; }


  .arrow {
      width: 70px;
      height: 16px;
      overflow: hidden;
      position: absolute;
      left: 50%;
      margin-left: -35px;
      bottom: -16px;
  }
  .arrow.top {
      top: -16px;
      bottom: auto;
  }
  .arrow.left {
      left: 20%;
  }
  .arrow:after {
      content:"";
      position: absolute;
      left: 20px;
      top: -20px;
      width: 25px;
      height: 25px;
      box-shadow: 0 0 9px black;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      tranform: rotate(45deg);
      border:2px solid #E0C743;
  }
  .arrow.top:after {
      bottom: -20px;
      top: auto;
      
  }
.center{ display:block; text-align:center; width:100%; }


.grid1{ width:auto; border:#ccc 1px solid; border-collapse:collapse; }
.grid1 th{ font-weight:bold; font-size:13px; padding:5px; background:#eee;  border:#ccc 1px solid; color:#232323; text-align:left; }
.grid1 td{ font-size:12px; color:#454545; padding:2px 5px; border:#ccc 1px solid;}

.centerHed, span.centerHed{ font-weight:normal; width:100%; text-align:center;  }




/* New */

.gridsHolder{ position:relative; padding:0; margin:0; top:-5px;  }
.gridsHolder .mainGrid{ display:none; }

#pnl1{position:relative; margin-left:-1px; }

.wordWrap, .wordWrap table{ border-collapse:collapse; }
.wordWrap td { padding:0 }
.wordWrap table { width:100%; min-width:100% }

.wordWrap td td td{ padding:3px 6px 3px 3px; text-align:left; min-height:17px; height:17px; border:#ccc 1px dotted;  }
.wordWrap .hed111 td{ padding:3px; min-height:17px; height:17px; border:#ccc dotted 1px; background:#FFF9CA; }
td
{
		vertical-align:top;
	}
	.container1{ width:980px; margin:0 auto; padding:20px; border:#ccc 1px solid; box-shadow:0 2px 5px rgba(0,0,0,0.1); background:#fff; }
	
/*Loading spinner*/
#spinner
{
	background: url(../images/content-back.png);
	width: 100%;
	height:100%;
	text-align: center;
	padding-top: 22%;
	position: fixed;
	z-index: 190000;
	left: 0;
	top: 0;
}
.head100
{
	font-weight: bold;
	border-left: none;
	text-transform: uppercase;
	text-align: center;
	background: #B8BE41;
}
#spinner h4
{
	border: 4px solid rgba(0,0,0,0.5);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0 0 18px rgba(0,0,0,0.9);
	-moz-box-shadow: 0 0 18px rgba(0,0,0,0.9);
	box-shadow: 0 0 18px rgba(0,0,0,0.9);
	width: 380px;
	overflow: hidden;
	margin: 0 auto;
	font-size: 20px;
	color: #333;
	background: #fff;
}
#spinner div
{
	width: 270px;
	height: 100%;
	padding: 15px;
	margin: 0 auto;
	background: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 19px;
}
#spinner img
{
	margin-left: 10px;
	margin-top: 1px;
}


